body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

nav  {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nav2 {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.codelang{
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

section {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(blue, yellow);
    /* background-color: #4259b8; */
}

.hero {
    width: 100%;
    height: 300px;
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
}
#name {
    font-size: 27px;
}

.herotext{
    background-color: gainsboro;
    margin: 30px;
    max-width: 300px;
    max-height: 180px;
}
.heroparagraph {
    text-align: justify;
}
.heroimage{
    margin: 30px;
    max-width: 320px;
    max-height: 180px;
}
.break{
    width: 30px;
    height: 5px;
    background-color: gainsboro;
    border-radius: 2.5px;
    margin: 30px 0px 30px 0px;
}
.avatar {
    width: 100px;
    border-radius: 50px;
}
/* Standard button for all webpage */
button {
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    background-color: gainsboro;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

button:hover {
    background-color: rgb(177, 177, 177);
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.5),
                inset 2px 2px 3px rgba(0, 0, 0, 0.5);
} 

footer{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
/* Remove underlines from links */
a{
    text-decoration: none;
}